@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap');

$mainFont:'Alegreya Sans', sans-serif; 
$secondaryFont: Arial, 'Helvetica', sans-serif;



body{
    background-color: black;
    color: white;

#bema{
    font-family:$mainFont;
    font-size: 75px;
    letter-spacing: 10px;
    font-weight: bold;
}
#topmiddle{
    font-family: $secondaryFont;
    padding-top: 30px;
    line-height: 20px;
}
#middlediv{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;

    #work {
        font-family: $mainFont;
        font-size: 70px;
        letter-spacing: 20px;
    }
   #work01{
        color: white;
        text-decoration: none;
        &:hover{
        color: rgb(190, 190, 190);
        }
    }
    #rightmiddle {
        font-family: $secondaryFont;
        font-size: 70px;
        letter-spacing: 10px;
        
    }
} 
footer {
    position:absolute;
    font-family: $secondaryFont;
    font-size: 16px;
    bottom:0;
    width:100%;
    height:60px;
   text-align: center;
 }

}




